@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Scripts {
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Wellcome to HUTECH UNIVERITY</a>.</p>
</div>
