@model Bai2.Request.UpdateCategoryRequest 



<h2>Edit Category</h2> 



<form asp-action="Update"> 

    <input type="hidden" asp-for="Id" /> 

    <div class="form-group"> 

        <label asp-for="Name"></label> 

        <input asp-for="Name" class="form-control" /> 

        <span asp-validation-for="Name" class="text-danger"></span> 

    </div> 

    <button type="submit" class="btn btn-primary">Update</button> 

</form>	